<div class="login">
    <div class="login-box">
        <div class="input">
            <input id="box1" class="input-box" type="text" placeholder="          用户名" >
            <input id="box2" class="input-box" type="text" placeholder="          密码" style="margin-top: 30px;">
            <input id="box3" class="input-box" type="text" placeholder="          请输入验证码" style="margin-top: 30px;">
        </div>

        <div class="button">
            <h1 style="color: antiquewhite; font-size: 40px; ">提&nbsp;&nbsp;&nbsp;&nbsp;交</h1>
        </div>
    </div>
</div>